.app-container {
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
  margin-top: 5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  animation: slideUp 1s ease-out;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.phone-login-container {
  animation: fadeIn 1.5s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
